*, *::before, *::after {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
  
    .header_text {
      font-family: "Nunito", sans-serif;
      font-size: 2.5em;
      font-weight: bold;
      color: #ffb6c1;
    }
  
    .buttons {
      display: flex;
      justify-content: center;
  
      .btn {
        background-color: #ffb6c1;
        color: white;
        padding: 15px 30px;
        display: inline-block;
        font-size: 1em;
        cursor: pointer;
        border: none;
        border-radius: 10%;
        transition: background-color 0.3s ease;
      }
  
      .noButton {
        position: absolute;
        margin-left: 150px;
        transition: 0.5s;
      }
  
      .yesButton {
        position: absolute;
        margin-right: 150px;
      }
    }
  }
  