doctype html
html(lang="ru")
  head
    link(href="./img/heart.ico", rel="icon", type="image/x-icon")
    link(href="./css/style.min.css", rel="stylesheet")
    title Для ксюши
  body.container
    h1.header_text Ксюшк, выйдешь за меня замуж?
    img(src="https://i.postimg.cc/B6gRY3p7/sticker.gif", alt="миленький котик")
    .buttons
      button.btn.yesButton Да
      button.btn.noButton Нет
    script(src="./js/main.min.js")
